/* To Do List:
style footer color/margin-top/etc
style header color/margin-bottom/etc
 */

#display {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  width: 100%;
  height: 30px;
}

#bodyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 20px 0px;
}

.non-num {
  background-color: orange;
}

.belowAllClear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numpad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.num {
  width: 33%;
}

#backspace {
  width: 33%;
}

.operatorBox {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.operator {
  background-color: cyan;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}
